.basicDBArea {
  width: 100%;
  height: 900px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
}

.basicDBArea .nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 45px 0px 45px;
  box-sizing: border-box;
}
.basicDBArea .nav .dbBtn {
  width: 100px;
  height: 30px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
  border: none;
  background-color: #1b2433;
  color: white;
  border-radius: 5px;
  transition: all ease-out 0.2s;
}
.basicDBArea .nav .dbBtn.refreshBtn {
  width: 30px;
}
.basicDBArea .nav .dbBtn:hover {
  background-color: #3e497a;
}
.basicDBArea .nav .dbBtn.delete:hover {
  background-color: #e84545;
}

.basicDBArea .nav .nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.basicDBArea .nav .nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.basicDBArea .nav .sortInput {
  width: 300px;
  height: 30px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #1b2433;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  font-size: 10px;
  font-weight: 600;
  color: #1b2433;
  position: relative;
  margin-right: 5px;
}
.basicDBArea .nav .sortInput .sortInput-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-right: 5px;
}
.sortInput-left-title {
  overflow: hidden;
  white-space: nowrap;
}
.sortInput-left-value {
  width: 223px;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.basicDBArea .nav .sortInput .sortInputBtn {
  width: 15px;
  height: 30px;
  padding: 0px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0px;
  border-left: 1px solid #1b2433;
  font-size: 8px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.basicDBArea .nav .sortInput .sortMenu {
  position: absolute;
  top: 28px;
  left: -1px;
  width: 285px;
  height: 0px;
  background-color: white;
  border: 1px solid #1b2433;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  transition: all ease-out 0.5s;
  overflow: hidden;
}
.basicDBArea .nav .sortInput .sortMenu .sortList {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border-bottom: 1px dashed #1b2433;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px 0px 5px;
}
.basicDBArea .nav .sortInput .sortMenu .sortList-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.basicDBArea .nav .sortInput .sortMenu .sortList-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basicDBArea .nav .sortInput .sortMenu .sortList-input {
  width: 100px;
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1b2433;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin-left: 5px;
  font-size: 10px;
  font-weight: 600;
  color: #1b2433;
}
.basicDBArea .nav .sortInput .sortMenu .sortList-option {
  width: 80px;
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1b2433;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 2px;
}
.basicDBArea .nav .sortInput .sortMenu .sortList-option div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all ease-out 0.5s;
}
.basicDBArea .nav .sortInput .sortMenu .sortList-element {
  margin-right: 10px;
}

.basicDBArea .nav .filterInput {
  width: 200px;
}
.basicDBArea .nav .filterInput .filterMenu {
  width: 185px;
}
.basicDBArea .nav .filterInput .filterMenu .filterList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dbListArea {
  width: 100%;
  height: 700px;
  overflow-y: auto;
}
.dbListArea::-webkit-scrollbar {
  width: 10px;
}
.dbListArea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1b2433;
}

.dbList {
  display: grid;
  grid-template-columns: 80px 120px 120px 120px 120px 1fr 250px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0px 50px 0px 50px;
  border-bottom: 2px solid #f2f2f2;
}
.dbList.DBtitle {
  width: 100%;
  height: 60px;
  grid-template-columns: 80px 120px 120px 120px 120px 1fr 250px;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  box-sizing: border-box;
  padding: 0px 50px 0px 50px;
}

.dbElement {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
}

.dbTitleElement {
  font-weight: 600;
}
