.dashboardComponents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dashboardComponents .dashboardNav {
  width: 100%;
  height: 60px;
  background-color: white;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 45px 0px 45px;
}

.dashboardComponents .dashboardNav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
}
.dashboardComponents .dashboardNav-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboardComponents .dashboardNav .graphBtn {
  width: 100px;
  height: 30px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
  border: none;
  background-color: #1b2433;
  color: white;
  border-radius: 5px;
  transition: all ease-out 0.2s;
}
.dashboardComponents .dashboardNav .graphBtn:hover {
  background-color: #3e497a;
}
.dashboardComponents .dashboardNav .graphBtn.refreshBtn {
  width: 30px;
}
.dashboardComponents .dashboardNav .graphLocationInput {
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  text-align: right;
  padding: 0px 5px 0px 5px;
  margin-left: 15px;
}
.dashboardComponents .dashboardNav .graphLocationInput.location {
  width: 120px;
  margin-left: 0px;
}
.dashboardComponents .dashboardNav-left p {
  font-size: 11px;
  font-weight: 600;
  margin-left: 5px;
}
.dashboardComponents .dashboardNav .graphLocationInput-text {
  font-size: 11px;
  font-weight: 600;
  margin: 0px 0px 0px 5px;
  white-space: nowrap;
}

.dashboardComponents .graphArea {
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboardComponents .graph {
  background-color: white;
  border-radius: 20px;
}
.dashboardComponents .graphArea .graphArea-title {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 3px solid #f2f2f2;
  padding: 0px 45px 0px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}
.dashboardComponents .graphArea .graphArea-title .optionArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}
.dashboardComponents .graphArea .graphArea-title .optionArea input {
  margin-left: 20px;
  margin-right: 5px;
}

/* DashboardTable */
.dashboardComponents .dashboardTableArea {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding-bottom: 50px;
}
.dashboardComponents .dashboardTable-title {
  width: 100%;
  height: 50px;
  border-bottom: 3px solid #f2f2f2;
  padding: 0px 50px 0px 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 120px 120px 120px 1fr 250px;
  justify-items: start;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.dashboardComponents .dashboardTable-ul {
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
.dashboardComponents .dashboardTable-ul::-webkit-scrollbar {
  width: 2px;
}
.dashboardComponents .dashboardTable-ul::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #1b2433;
}

.dashboardComponents .dashboardTable-li {
  display: grid;
  grid-template-columns: 120px 120px 120px 1fr 250px;
  justify-items: start;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #f2f2f2;
  padding: 0px 50px 0px 50px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
}

.dashboardComponents .dashboardTable-li .dashboardTable-ratioBar {
  width: 90%;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #1b2433;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
}
.dashboardComponents .dashboardTable-li .dashboardTable-ratioBar-div {
  width: 90%;
  height: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
  color: white;
}
.dashboardComponents .dashboardTable-li .postSound {
  background-color: #e84545;
}
.dashboardComponents .dashboardTable-li .getSound {
  background-color: #3e497a;
}

/* Analytics Area */
.analyticsArea {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.analyticsArea .arcGraphArea {
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 20px;
  margin-right: 20px;
  position: relative;
  box-sizing: border-box;
}
.analyticsArea .analyticsInfo {
  flex: 1;
  height: 350px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
}
