@import "./reset.css";
@import "./App.css";
@import "./basicDB.css";
@import "./postDB.css";
@import "./auth.css";
@import "./nav.css";
@import "./main.css";
@import "./history.css";
@import "./graph.css";
@import "./dashboard.css";
@import "./editProfile.css";

html {
  width: 100%;
  height: 100%;
  color: #1b2433;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

#root {
  width: 100%;
  height: 100%;
}

input:focus {
  outline: none;
}
